<div class="list">
    <h1>{{title}} :</h1>
    <ul>
        <li><a href="/visitorspg">visitors page</a></li>
        <li><a href="/fieldspg">fields page</a></li>
        <li><a href="/orderspg">orders page</a></li>
        <li><a href="/admins-get">administrators list</a></li>
    </ul>
</div>
