<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="header">
      <div class="div_for_safc">
          <p class="safc">SPORTS AND RECREATION CENTER</p>
      </div>
  </div>
  {{{body}}}
  </body>
</html>
